/*Importerad font*/

@font-face {
		font-family: myFont;
		src: url(Fonts/hornswog.ttf);
}

/*helheten bakgrunds färgen*/

body{
	background-image: url(commondesign/cloud.jpg);
	font-family: Arial, "sans serif";
}


/* Wrapper Css (innehåll) */
#wrapper{
  height:auto;
  background-color: lightblue;
  margin:20px auto;
  border: 1px solid #eee;
  font-family: 'Lucida Bright';
}

/*wrapper startsidan skriva! */

#wrapper_start{
  height: 900px;
  background-color: lightblue;
  margin:20px auto;
  border: 1px solid #eee;
  font-family: 'Lucida Bright';
}

/*Content = Funktion sida */
.content {
  overflow: auto;
  width:100%;
}
/*Vänstra boksidan*/
.left {
  position: absolute;
  background-image: url(picturewrite/startwrite/Left.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width:44%;
  height:100%;
  margin-top: 12px;
  margin-left: 81px;
}

/*När man för musen över vänstra boksidan viks det upp ett blad i nedre hörnet. Klickar man vänder man sida*/
a:hover > .left {
  background-image: url(picturewrite/startwrite/Leftturn.png);
}



/*Högra boksidan*/
.right {
  position:absolute;
  background-image: url(picturewrite/startwrite/Right.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width:44%;
  height:100%;
  margin-top: 1.2%;
  margin-left: 50%; 
}

/*När man för musen över högra boksidan viks det upp ett blad i nedre hörnet. Klickar man vänder man sida*/
a:hover > .right {
  background-image: url(picturewrite/startwrite/Rightturn.png);
}


/* Ny saga! */

#new_story {
  position: absolute;
  float: left;
  top: 28%;
  left: 18%;

}

/* val till en existerande saga*/

#old_story{
  position: absolute;
  float: right;
  top: 28%;
  right: 22%;
}

/*diven för hela meny till funktionerna för ändra stil i skriva! */

#function_button{
  float: left;
  width: 17%;
  margin-top: 125px;
  margin-left: 23px;
  cursor: pointer; cursor: hand;

}

/* Ul listan med alla knappar */ 

#meny_button {
  float: left;
  width: 78%;
  list-style: none;
  padding-left: 2%;
  margin-top: 8%;
  border-radius: 29px;
  background-color: #BE008A;
  border-style: solid;
}

/*elementet som innehåller alla olika fonts alternativ*/

#font_text {
  display: none;
  list-style: none;

}

.list_button{
  margin-bottom: 10%;
  margin-top: 10%;
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #BE008A;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-radius: 29px;
}

.list_button:hover, .list_button:active {
  background-color: #7C005A;
}

/*elementet för val av färger*/
#textchoose{
    display: none;
    list-style-type: none;
}

.color_size{
    width: 95px;
    height: 30px;
}

.full{
  width: 100%;
}
/*Namnet på sagan som är ett input element*/
#Titel{
  text-align: center;
  margin-top: 3%;
  margin-left: 8%;
  margin-bottom: 1%;
  width: 70%;
  font-family: myFont;
  font-size: 28px;
  border: none;
  background: none;
  outline: none;
}

/*boken som helhet*/
#book {
  float: right;
  width: 80%;
  height: 585px;
  background-image: url(picturewrite/book.png);
}

/*Textområde som går att skriva på*/
textarea{
    float: left;
    margin-top: 80px;
    margin-left: 77px;
    height: 353px;
    width: 408px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 20px;
    resize: none;
    border: none;
    outline:none;
    overflow: auto;
    background-color: transparent;
}

/*elementet där du kan släppa alla bilder*/
#dropbox{
    float:right;
    height: 449px;
    width: 442px;
    margin-right: 57px;
    margin-top: 23px;
    background-color: transparent;   
}

/*elementet som har alla bilder*/
#picturebox{
    display: none;
    float: right;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 5px;
    width: 78%; 
    background-color: #3E97D1;
    border-radius: 29px;
    border-style: solid;
    border-color: black;

}

/* Menyn */							
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
width: auto;
border-bottom: 0px solid #999999;
font-family: Raleway, sans-serif;
line-height: 1;
}
#cssmenu ul {
  background: #85E085;
}
#cssmenu > ul > li {
  float: right;

}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 10px 25px 8px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  transition: all .2s ease;
  margin-right: -4px;
 
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color:#000;
  
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: lightblue;
}



