body{
	background-image: url(commondesign/cloud.jpg);
	font-family: Arial, "sans serif";
}
	
#wrapper{
	width:90%;
	height:auto;
	margin:20px auto;
	background-color:#EBD7FF;
	border: 3px solid #eee;
	font-family: 'Lucida Bright';
}
		
.left {
  position: absolute;
  background-image: url(pictureindex/Left.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width:44%;
  height:100%;
  margin-top: 1%;
}

/*När man för musen över vänstra boksidan viks det upp ett blad i nedre hörnet. Klickar man vänder man sida*/
a:hover > .left {
  background-image: url(pictureindex/Leftturn.png);
}


/*Högra boksidan*/
.right {
  position:absolute;
  background-image: url(pictureindex/Right.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width:44%;
  height:100%;
  margin-top: 1.2%;
  margin-left: 44%; 
}

/*När man för musen över högra boksidan viks det upp ett blad i nedre hörnet. Klickar man vänder man sida*/
a:hover > .right {
  background-image: url(pictureindex/Rightturn.png);
}

#content{
  overflow: auto;
  width:100%;
}

/* Menyn */							

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


#cssmenu {
width: auto;
border-bottom: 0px solid #999999;
font-family: Raleway, sans-serif;
line-height: 1;
}
#cssmenu ul {
  background: #FFFFFF;
}
#cssmenu > ul > li {
  float: right;

}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 10px 25px 8px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  transition: all .2s ease;
  margin-right: -4px;
 
}

#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after{
background: #EBD7FF;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #BFAFCF;
}	

	
	/*Hela boken*/
#content {
	height:700px;
	width:100%;
}


#read{
background-color:white;
border: 100px 000;
width:50%;
margin: 20px auto;
float:left;
border: 100px FFF;
}

#write{
background-color:white;
width:50%;
margin: 20px auto;
float:left;
border: 10px white;

}	
	

#text{
	width:95%;
	padding: 0 20px;
	overflow:hidden;
}
img.center {
    display: block;
    margin: 0 auto;
}
	
p.center{
text-align:center;
}

footer{
	border-top:1px solid #999;
	text-align:center;

}

/*Bilder storlek*/
.full{
width:100%;
}


/* Responsiv */	
@media (max-width: 600px){
	section{
		width:100%;
	}
}

@media (max-width: 360px){
	nav  a{
		float:none;
		width:100%;
	}
}

@media (max-width: 1024px){
	body,wrapper{
		margin:0px;
		width:100%
	}
}