body{
	background-color: pink;
	font-family: Arial, "sans serif";
}

/* Menyn */						
nav  a{
	display:block;
	background-color:#A49DF7;
	color: #fff;
	float:left;
	width:25%;
	padding: 10px 0;
	text-decoration:none;
	text-align:center;
}
	
nav .chosen{
	background-color:#CC99FF;
}

/* Hela sidan(innehåll) */
#wrapper{
  width:90%;
  height:auto;
  background-color: lightblue;
  margin:20px auto;
  border: 1px solid #eee;
  font-family: 'Lucida Bright';
}

header{
  overflow:hidden;
  background-color:lightgreen;
  border: 10px white;

}

/*Content = Funktion sida */
#content {
  height:auto;
  width:100%;
}
/* innehåll till vänster*/

#contentleft {
  position: absolute;
  top:90%;
  left:24%;
  float:left;

}
/*innehåll till höger*/

#contentright {
  position: absolute;
  top: 90%;
  right: 24%;
  float:right;

}


#book {
	position: relative;
	margin-left: 3%;
	margin-top: 4%;

}

/*Textområde som går att skriva på*/
textarea{
		position: absolute;
		top: 20%;
		left: 9%;
		resize: none;
		border: none;
		outline:none;
		overflow: auto;

}

#picturebox{
    
    width: 1000px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid blue; 

}

#dropbox{
    position: absolute;
    top: 39%;
    right: 17%;
    width: 401px;
    height: 447px;
}

#div1{
    width:350px;
    height: 70px;
    padding: 10px;
    border:1px;


  }
header h1{
	color: white;
	font-size:40px;
	text-align:center;
	text-shadow: 5px 5px 5px #00A352;
}	

#title{
	position: absolute;
	top: 40%;
	left: 30%;
	text-align: center;

}						

#text{
	width:95%;
	padding: 0 20px;
	overflow:hidden;
}

footer{
	border-top:1px solid #999;
	text-align:center;
	clear:both;
}
