body{
	
	font-family: Arial, "sans serif";
}
/* Hela sidan(innehåll) */
#wrapper{
	width:90%;
	height:auto;
	margin:20px auto;
	border: 1px solid #eee;
	font-family: 'Lucida Bright';
}

header{
	overflow:hidden;
	background-color:lightgreen;
	border: 10px white;

}

/*Content = Funktion sida */
#content {
	height:auto;
	width:100%;
}
/* innehåll till vänster*/

#contentleft {
	position: absolute;
	top:90%;
	left:24%;
	float:left;

}
/*innehåll till höger*/

#contentright {
	position: absolute;
	top: 90%;
	right: 24%;
	float:right;

}


/*css till meny*/

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  
margin: 0;
  
padding: 0;
  
border: 0;
  
list-style: none;
  
line-height: 1;
  
display: block;
  
position: relative;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}

#cssmenu:after,
#cssmenu > ul:after {

content: ".";

  display: block;

  clear: both;

  visibility: hidden;

  line-height: 0;

  height: 0;

}


#cssmenu {
  
width: auto;
  
border-bottom: 3px solid #99FF66;

  font-family: Raleway, sans-serif;
  
line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: right;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color:#7D7D7D;
  
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #C2EBFF;
}




#book {
	position: relative;
	margin-left: 3%;
	margin-top: 4%;

}

/*Textområde som går att skriva på*/
textarea{
		position: absolute;
		top: 20%;
		left: 9%;
		resize: none;
		border: none;
		outline:none;
		overflow: auto;

}

header h1{
	color: white;
	font-size:40px;
	text-align:center;
	text-shadow: 5px 5px 5px #00A352;
}	

#title{
	position: absolute;
	top: 40%;
	left: 30%;
	text-align: center;

}						

#read{
background-color:white;
border: 100px 000;
width:50%;
margin: 20px auto;
float:left;
border: 100px FFF;
}

#write{
background-color:white;
width:50%;
margin: 20px auto;
float:left;
border: 10px white;

}	
	

#text{
	width:95%;
	padding: 0 20px;
	overflow:hidden;
}

footer{
	border-top:1px solid #999;
	text-align:center;
	clear:both;
}
