<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sagoland</title>
		<link href="style.css" rel="stylesheet" type="text/css">
		<script src="javascript.js" type="text/javascript"></script>
	</head>
	
<body>
	<div id="wrapper">
		<header>
			<img class= "full" src="commondesign/banner4.jpg" alt="Logga Sagoland">
		</header>
		
<!--Navigations Meny-->			
			<div id='cssmenu'>
				<ul> 	
					
						<li><a href="../contact1.html">Kontakta Oss</a></li>
						<li><a href="../loggain.html">Skriv Saga</a></li>
						<li class='active'><a href="../read.html">Läs Saga</a></li>
						<li ><a href="../index.html">Startsida</a></li>
					
				</ul>
			
			</div>
		

			<section id="content">


				<!--Dessa sektioner är vänster respektive höger del av sagoboksbilden-->
				<a href="FMDMK-2.html#content"><section class="left"><p></p></section></a>
								
				<a href="FMDMK-4.html#content"><section class="right"><p></p></section></a>


				<!--Dessa sektioner är vänster respektive höger innehåll i sagoboken-->
				<section id="contentleft">
					<p><img src="FMDMK/sida3.png" alt="Flickan fått kritor och hoppar upp och ner." class="storyimages"></p>	
				</section>

				<section id="contentright">
					<p>– Emma, jag kommer att åka iväg på en ny affärsresa nu, säger pappa försiktigt. Men jag har en liten present till dig så att du har något kul att göra när jag är borta.</p>
					<p>– Kritor!! ropar Emma förtjust och börjar hoppa upp och ner av glädje.</p> 
					<p>– Ja, men det är inga vanliga kritor det där, fortsätter pappa. Det är magiska kritor.</p>
					<p>– Magiska kritor? svara Emma förvånat och ser storögt upp på sin pappa.</p>
					<p>– Ja, när du har riktigt tråkigt så kan du rita vad du som helst och det kommer att bli sant, säger pappa och blinkar finurligt med ena ögat. Men använd dem bara när det är absolut nödvändigt!</p>
				</section>	
				

			</section>



			<footer>
				<p> Hemsidan är skapad som ett projekt i kursen Systemutveckling på Malmö Högskola</p>
				<p>Coypright 2015</p>
				
			</footer>
		</div>
	</body>
</html>